.vscode

# TS Git
!jest.config.js
*.d.ts
*.d.ts.map
*.js
*.js.map
*.tgz
**/node_modules
dist
node_modules

#Python Git
*.coverage
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/htmlcov

# CDK Asset Staging Directory
.cdk.staging
cdk.out
