.vscode

# TS Git
*.js
!jest.config.js
*.d.ts
dist
node_modules
**/node_modules
*.tgz
*.d.ts.map
*.js.map

#Python Git
**/.ruff_cache
*.coverage
**/htmlcov
**/.pytest_cache
**/__pycache__
**/.venv

# CDK Asset Staging Directory
.cdk.staging
cdk.out
